
<!-- petDetails.ejs -->
<html lang="en">
<head>
    <!-- Add your head content here -->
</head>
<body>
<h1><%= petDetails.naziv %> Details</h1>
<p>Vrsta ljubimca: <%= petDetails.vrsta_ljubimca %></p>
<p>Subkategorija: <%= petDetails.podkategorija %></p>
<p>Datum rodjenja: <%= petDetails.datum_rodjenja %></p>
<p>Dobavljac: <%= petDetails.dobavljac %></p>
</body>
</html>
